<div class="app">
    <div class="select" *ngIf="start">
        <div class="player">
            <input type="text" [(ngModel)]="player1">
        </div>
        <div class="player">
            <input type="text" [(ngModel)]="player2">
        </div>
        <div class="player">
            <button class="primary" (click)="start = !start"> START </button>
        </div>
    </div>
    <div class="game" *ngIf="!start">
        <div class="divider">
            <img [src]="KNIGHT" >
        </div>
        <div class="divider">
            <img [src]="KNIGHT_ROTATE" >
        </div>
    </div>
</div>

